# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Databases
*.db

# Uploads
uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store

# IDE
.vscode/
.idea/